In [1]:
# import dependencies to clean the data
import pandas as pd
import numpy as np
# import dependencies to add in SQL
from sqlalchemy import create_engine
from config import db_password

# File to Load (Remember to change these)
WHO_data_load = "Raw_Data/WHO_AirQuality_Database_2018.csv"
diabetes_data_to_load = "Raw_Data/500_diabetes.csv"
cancer_data_to_load = "Raw_Data/500_cancer.csv"

# Read the air quality and diabetes data
air_data_df = pd.read_csv(WHO_data_load)
diabetes_data_df = pd.read_csv(diabetes_data_to_load)
cancer_data_df = pd.read_csv(cancer_data_to_load)

In [2]:
# columns to keep air_data_df: country, city, pm10, Year, pm25, latitude, longitude, population, date_compiled, color_pm25, color_pm10
# COLOR RANGES for US: pm25 - green = <10; yellow = 10-15; orange = 15-25
# COLOR RANGES for US: pm10 - green = <20; yellow = 20-30; darkred = 30-50; orange = 50-70; red = 70-100
# columns to keep diabetes_data_df: Year, StateDesc, CityName, UniqueID, Data_Value_Type, Data_Value, Low_Confidence_Limit, High_Confidence_Limit, PopulationCount, GeoLocation

# drop all columns from air quality dataframe that are not listed above
air_data_df = air_data_df[['country','city','pm10','Year','pm25','latitude','longitude','population','date_compiled','color_pm25','color_pm10']]
# rename columns to be all lower case for SQL database
air_data_df.rename(columns={"Year":"year"},inplace=True)
air_data_df.head()

,country,city,pm10,year,pm25,latitude,longitude,population,date_compiled,color_pm25,color_pm10
0,Albania,Tirana,31.615421,2013,16.062366,41.330269,19.821772,453509.0,2016,orange,darkred
1,Australia,Central Coast,12.820462,2014,5.500000,-33.278889,151.432495,297713.0,2016,green,green
2,Australia,Devonport,14.918356,2013,6.400000,-41.184799,146.345993,29050.0,2016,green,green
3,Australia,Geelong,17.500000,2014,7.507530,-38.174999,144.369003,173450.0,2016,green,green
4,Australia,Hobart,14.219058,2013,6.100000,-42.854599,147.315002,170977.0,2016,green,green

In [3]:
# recreate diabetes dataframe with necessary columns
diabetes_data_df = diabetes_data_df[['Year','StateDesc','CityName','UniqueID','Data_Value_Type','Data_Value','Low_Confidence_Limit','High_Confidence_Limit','PopulationCount','GeoLocation']]
# rename columns we will use in database so that they are all lowercase to run SQL code
diabetes_data_df.rename(columns={"CityName":"city", "Year":"year","StateDesc":"state","Data_Value_Type":"data_value_type","Data_Value":"data_value","Low_Confidence_Limit":"low_confidence_limit","High_Confidence_Limit":"high_confidence_limit","PopulationCount":"population_count"}, inplace=True)
diabetes_data_df.head()

,year,state,city,UniqueID,data_value_type,data_value,low_confidence_limit,high_confidence_limit,population_count,GeoLocation
0,2017,California,Inglewood,0636546-06037601801,Crude prevalence,12.7,12.0,13.5,2472,"(33.9439711273, -118.349937728)"
1,2017,Alabama,Huntsville,0137000-01089002922,Crude prevalence,9.3,8.5,10.3,4387,"(34.612755588, -86.5329568642)"
2,2017,Alaska,Anchorage,0203000-02020002501,Crude prevalence,7.4,6.9,7.8,4993,"(61.1593945029, -149.899866691)"
3,2017,Arizona,Tempe,0473000-04013319907,Crude prevalence,7.0,6.4,7.9,2225,"(33.3419171912, -111.919809152)"
4,2017,Arizona,Yuma,0485540,Crude prevalence,11.1,11.0,11.3,93064,"(32.5986027117, -114.54836837)"

In [4]:
# add cancer dataframe here when adding more data to our set
# pick which columns to keep and add them to the column names below
# cancer_data_df = cancer_data_df[['col1','col2','col3']]
# rename any columns if necessary
# output the dataframe
# cancer_data_df

In [5]:
# filter for US in air quality df
air_quality_df = air_data_df.loc[air_data_df['country'] == 'United States of America']
air_quality_df["city"] = air_quality_df["city"].str.split('-').str[0]
air_quality_df

/Users/Kelly/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,country,city,pm10,year,pm25,latitude,longitude,population,date_compiled,color_pm25,color_pm10
639,United States of America,Adrian,16.252915,2014,8.8,41.995567,-83.946556,99892.0,2016,green,green
640,United States of America,Akron,19.207991,2014,10.4,41.087955,-81.541611,703200.0,2016,yellow,green
641,United States of America,Albany,13.482532,2014,7.3,42.642250,-73.754639,870716.0,2016,green,green
642,United States of America,Alexandria,14.221301,2014,7.7,31.177637,-92.410614,153922.0,2016,green,green
643,United States of America,Allegan,16.068223,2014,8.7,42.767784,-86.148575,111408.0,2016,green,green
...,...,...,...,...,...,...,...,...,...,...,...
11894,United States of America,York,19.184658,2016,9.2,39.965278,-76.699444,43806.0,2018,green,green
11895,United States of America,Yuba City,20.018774,2015,9.6,39.138773,-121.618549,65631.0,2018,green,yellow
11896,United States of America,Yuba City,16.890840,2016,8.1,39.138773,-121.618549,65631.0,2018,green,green
11897,United States of America,Yuma,13.137320,2014,6.3,32.690278,-114.614440,195751.0,2018,green,green
11898,United States of America,Yuma,17.307898,2016,8.3,32.690278,-114.614440,195751.0,2018,green,green

In [6]:
# check for any null rows and drop them, rename the final cleaned df
clean_air_df = air_quality_df.dropna()
# check the number of rows and columns
clean_air_df.shape

(969, 11)

In [7]:
# drop any null rows, rename the final cleaned df
clean_diabetes_df = diabetes_data_df.dropna()
# check the number of rows and columns
clean_diabetes_df.shape

(28210, 10)

In [8]:
# print final cleaned diabetes df
clean_diabetes_df

,year,state,city,UniqueID,data_value_type,data_value,low_confidence_limit,high_confidence_limit,population_count,GeoLocation
0,2017,California,Inglewood,0636546-06037601801,Crude prevalence,12.7,12.0,13.5,2472,"(33.9439711273, -118.349937728)"
1,2017,Alabama,Huntsville,0137000-01089002922,Crude prevalence,9.3,8.5,10.3,4387,"(34.612755588, -86.5329568642)"
2,2017,Alaska,Anchorage,0203000-02020002501,Crude prevalence,7.4,6.9,7.8,4993,"(61.1593945029, -149.899866691)"
3,2017,Arizona,Tempe,0473000-04013319907,Crude prevalence,7.0,6.4,7.9,2225,"(33.3419171912, -111.919809152)"
4,2017,Arizona,Yuma,0485540,Crude prevalence,11.1,11.0,11.3,93064,"(32.5986027117, -114.54836837)"
...,...,...,...,...,...,...,...,...,...,...
29000,2017,Wisconsin,Milwaukee,5553000-55079021600,Crude prevalence,10.4,9.6,11.1,4365,"(42.9522514746, -87.9248853807)"
29001,2017,Wisconsin,Milwaukee,5553000-55079007700,Crude prevalence,3.6,3.3,3.9,3807,"(43.0638910733, -87.8885000578)"
29002,2017,Wisconsin,Milwaukee,5553000-55079006000,Crude prevalence,11.9,11.0,12.8,2658,"(43.0679479292, -87.9755400534)"
29004,2017,Wisconsin,Green Bay,5531000-55009000600,Crude prevalence,8.8,8.1,9.5,4097,"(44.5079203341, -88.0536451985)"
29005,2017,Wisconsin,Milwaukee,5553000-55079186100,Crude prevalence,13.5,12.8,14.2,2275,"(43.0486527271, -87.9427927528)"

In [9]:
# filter for the year 2016 since we are looking at 2017 diabetes data
clean_air_df = clean_air_df[clean_air_df['year'] == 2016]
clean_air_df

,country,city,pm10,year,pm25,latitude,longitude,population,date_compiled,color_pm25,color_pm10
11168,United States of America,Albany,18.037749,2016,8.65,31.576917,-84.100194,613043.0,2018,green,green
11171,United States of America,Albuquerque,10.426445,2016,5.00,35.134300,-106.585200,826787.0,2018,green,green
11174,United States of America,Allen Park,18.142014,2016,8.70,42.228620,-83.208200,27214.0,2018,green,green
11175,United States of America,Allentown,21.895534,2016,10.50,40.611944,-75.432500,120443.0,2018,yellow,yellow
11178,United States of America,Altoona,17.099369,2016,8.20,40.535278,-78.370833,127089.0,2018,green,green
...,...,...,...,...,...,...,...,...,...,...,...
11891,United States of America,Worcester,12.303205,2016,5.90,42.263955,-71.794322,517572.0,2018,green,green
11892,United States of America,Yakima,17.829220,2016,8.55,46.598056,-120.499167,243231.0,2018,green,green
11894,United States of America,York,19.184658,2016,9.20,39.965278,-76.699444,43806.0,2018,green,green
11896,United States of America,Yuba City,16.890840,2016,8.10,39.138773,-121.618549,65631.0,2018,green,green
11898,United States of America,Yuma,17.307898,2016,8.30,32.690278,-114.614440,195751.0,2018,green,green

In [10]:
# merge dataframes
# THIS IS A REFERENCE FOR HOW TO MERGE THE TWO DATAFRAMES IN PYTHON, BUT FOR PROJECT WE USE JOIN TO MERGE THEM IN SQL
# merged_df = pd.merge(clean_diabetes_df[['year','state','city','data_value_type','data_value','low_confidence_limit','high_confidence_limit','population_count']],clean_air_df[['city','year','pm25','pm10','population','date_compiled','color_pm25','color_pm10']],how="left",left_on=["city"],right_on=["city"])

# clean_merged_df = merged_df.dropna()
# clean_merged_df

In [11]:
# create engine to connect to database
# to test on your computer, enter your database information; i.e. password and project name
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group_7_project"
engine = create_engine(db_string)

In [12]:
# add tables of clean data to database
clean_air_df.to_sql(name='air_quality',con=engine)
clean_diabetes_df.to_sql(name='diabetes',con=engine)